.main-title {
  color: var(--main-color);
  font-family: 'Cookie';
  font-weight: normal;
  line-height: 0.8;
  margin: 0;
}
.section-desc {
  color: var(--sec-title-color);
  line-height: var(--text-line-height);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.price::before {
  content: attr(currency);
}
.price {
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .price {
    font-size: 17px;
  }
}
.c-box {
  display: flex;
  align-items: center;
}
.c-box .circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: var(--main-color);
}